
/*--------------speed page styles--------------*/

#speed{
    width: 100%;
    height: 100vh;
}

#speedBgImage{
    width: 100%;
    height: 717px;
}

#speed_header{
    position: absolute;
    top: 0;
    bottom: 500px;
    left: 350px;
    right: 0;
    margin: auto;
    width: 550px;
    height: 190px;
    filter: drop-shadow(-1px 18px 13px black);
}

#speed_heading{
    color: white;
    text-align: center;
    font-size: 70px;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 350px;
    right: 0;
    margin: auto;
    filter: drop-shadow(-1px 18px 13px black);
    font-style: oblique;
    font-family: 'Courgette', cursive;
}

#main_speed_div{
    width: 500px;
    height: 700px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#wood_stand_image{
    background-size: cover;
    filter: drop-shadow(-1px 18px 13px black);
    width: 600px;
    height: 650px;
    position: absolute;
    top: 50px;
    left: -466px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#wood_standCute_image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 500px;
    right: 0;
    margin: auto;
    width: 400px;
    height: 700px;
    filter: drop-shadow(-1px 18px 13px black);
}

#main_speed_div > div{
    width: 250px;
    height: 50px;
}

#speed_div1{
    position: absolute;
    top: 179px;
    left: -976px;
    right: 0;
    margin: auto;
}

#speed_div2{
    position: absolute;
    top: 260px;
    left: -976px;
    right: 0;
    margin: auto;
}

#speed_div3{
    position: absolute;
    top: 341px;
    left: -976px;
    right: 0;
    margin: auto;
}

#speed1_image{
    position: absolute;
    top: -285px;
    left: -64px;
    width: 400px;
    height: 371px;
    filter: drop-shadow(-1px 18px 13px black);
}

#speed2_image{
    position: absolute;
    top: 28px;
    right: -89px;
    width: 400px;
    height: 371px;
    z-index: 1;
    filter: drop-shadow(-1px 18px 13px black);
}

#speed3_image{
    position: absolute;
    top: -253px;
    right: -89px;
    width: 400px;
    height: 371px;
    filter: drop-shadow(-1px 18px 13px black);
}

#speed_btn1_image{
    width: 100px;
    height: 100px;
    filter: drop-shadow(-1px 18px 13px black);
    position: absolute;
    top: -29px;
    right: -156px;
    cursor: pointer;
    transition-property: width,height;
    transition-duration: 1s;
}

#speed_btn1_image:hover{
    transition-property: width,height;
    transition-duration: 1s;
    width: 90px;
    height: 90px;
}

#speed_btn2_image{
    width: 100px;
    height: 100px;
    filter: drop-shadow(-1px 18px 13px black);
    position: absolute;
    top: -25px;
    right: -156px;
    cursor: pointer;
    transition-property: width,height;
    transition-duration: 1s;
}

#speed_btn2_image:hover{
    transition-property: width,height;
    transition-duration: 1s;
    width: 90px;
    height: 90px;
}

#speed_btn3_image{
    width: 100px;
    height: 100px;
    filter: drop-shadow(-1px 18px 13px black);
    position: absolute;
    top: -20px;
    right: -156px;
    cursor: pointer;
    transition-property: width,height;
    transition-duration: 1s;
}

#speed_btn3_image:hover{
    transition-property: width,height;
    transition-duration: 1s;
    width: 90px;
    height: 90px;
}