#main_title{
    color: #0f5132;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#main_container{
    display: grid;
    border: 2px solid black;
    width: 600px;
    height: 400px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#canvas{
    background-color: black;
    width: 600px;
    height: 400px;
}

#scoreTitle{
    text-align: center;
    font-size: 20px;
}

/*#image{
    background-size: cover;
}*/
